
<div class="row">  
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="text text-center">
          <h5>Plano Premium</h5>
          <p>Seu plano será renovado automaticamente no dia
            <strong><%= (current_user.plan_date + 1.month).try(:strftime, '%d/%m/%Y') %></strong>
            e serão cobrados <strong>R$ <%= (ENV['plan_price'].to_f / 100).real %></strong>.
          </p>

          <%= link_to "CANCELAR PLANO", dashboard_plan_path(1), method: :delete, data: { confirm: "Você realmente quer cancelar o plano ?" }, class: 'btn btn-rounded waves-effect waves-light btn-outline-danger' %>

          <br/><br/><br/><br/>

          <h5>Forma de pagamento</h5>
          <div class="row justify-content-center">
            <div class="col-4">
              <div class="payment-details-container with-expiry">
                <div class="payment-details-icon icon-provider">
                  <i class="fa fa-cc-<%= current_user.card_brand %> fa-2x" aria-hidden="true"></i>
                </div>
                <div class="credit-card-text">
                  <div class="payment-details-name">
                    <b><%= current_user.card_brand.capitalize %> ****&nbsp;<%= current_user.card_last_digits %></b>
                  </div>
                  <div class="payment-details-expiry">
                    <small>Vencimento: <%= current_user.card_expiration.insert(2, '/') %></small>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
