<aside class="left-sidebar">
  <ul class="nav-bar navbar-inverse">
    <li class="nav-item">
      <a class="nav-link navbar-toggler sidebartoggler hidden-sm-down waves-effect waves-dark float-right" href="javascript:void(0)">
        <span class="navbar-toggler-icon"></span>
      </a>
    </li>
  </ul>
  <div class="scroll-sidebar">
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li class="clearfix"></li>
        <li class="<%= current_link_helper('admin') %>">
          <%= link_to admin_path do %>
            <i class="fa fa-tachometer"></i><span class="hide-menu">Dashboard</span>
          <% end %>
        </li>
        <li class="<%= current_link_helper('customers') %>">
          <%= link_to admin_users_path do %>
            <i class="fa fa-users"></i><span class="hide-menu">Usuários</span>
          <% end %>
        </li>
        <li class="<%= current_link_helper('finances') %>">
          <%= link_to root_path do %>
            <i class="fa fa-circle fa-usd"></i><span class="hide-menu">Pagamentos</span>
          <% end %>
        </li>
        <li class="<%= current_link_helper('tickets') %>">
          <%= link_to admin_tickets_path do %>
            <i class="fa fa-envelope-o"></i><span class="hide-menu">Suporte</span>
          <% end %>
        </li>
        <li class="<%= current_link_helper('finances') %>">
          <%= link_to root_path do %>
            <i class="fa fa-paper-plane-o"></i><span class="hide-menu">SMS</span>
          <% end %>
        </li>
        <li>
          <br/>
        </li>
        <li class="<%= current_link_helper('finances') %>">
          <%= link_to dashboard_calendars_path do %>
            <i class="fa fa-sign-out"></i><span class="hide-menu">Ir para o sistema</span>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</aside>
