<aside class="left-sidebar">
  <ul class="nav-bar navbar-inverse">
    <li class="nav-item">
      <a class="nav-link navbar-toggler sidebartoggler hidden-sm-down waves-effect waves-dark float-right" href="javascript:void(0)">
        <span class="navbar-toggler-icon"></span>
      </a>
    </li>
  </ul>
  <div class="scroll-sidebar">
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li class="clearfix"></li>
        <li class="<%= current_link_helper('calendars') %>">
          <%= link_to dashboard_calendars_path do %>
            <i class="fa fa-calendar"></i><span class="hide-menu">Agenda</span>
          <% end %>
        </li>
        <li class="<%= current_link_helper('customers') %>">
          <%= link_to dashboard_customers_path do %>
            <i class="fa fa-user-circle"></i><span class="hide-menu">Pacientes</span>
          <% end %>
        </li>
        <li class="<%= current_link_helper('finances') %>">
          <%= link_to root_path do %>
            <i class="fa fa-circle fa-usd"></i><span class="hide-menu">Financeiro</span>
          <% end %>
        </li>
        <li class="<%= current_link_helper('attestations') %>">
          <%= link_to dashboard_attestations_path do %>
            <i class="fa fa-file-text-o"></i><span class="hide-menu">Atestados</span>
          <% end %>
        </li>
        <li class="<%= current_link_helper('finances') %>">
          <%= link_to dashboard_receipts_path do %>
            <i class="fa fa-list-alt"></i><span class="hide-menu">Recibos</span>
          <% end %>
        </li>
        <li class="<%= current_link_helper('finances') %>">
          <%= link_to root_path do %>
            <i class="fa fa-bullhorn" aria-hidden="true"></i><span class="hide-menu">Marketing</span>
          <% end %>
        </li>
        <li class="<%= current_link_helper('finances') %>">
          <%= link_to root_path do %>
            <i class="fa fa-area-chart" aria-hidden="true"></i><span class="hide-menu">Desempenho</span>
          <% end %>
        </li>

        <li>
          <br/><br/>
        </li>

        <li class="<%= current_link_helper('plans') %>">
          <%= link_to dashboard_plans_path do %>
            <i class="fa fa-credit-card"></i><span class="hide-menu">Assinatura</span>
          <% end %>
        </li>
        <li class="<%= current_link_helper('support') %>">
          <%= link_to "#", data: { toggle: 'modal', target: '#ticket' } do %>
            <i class="fa fa-envelope-o"></i><span class="hide-menu">Suporte</span>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</aside>
