<aside class="left-sidebar">
  <ul class="nav-bar navbar-inverse">
    <li class="nav-item">
      <a class="nav-link navbar-toggler sidebartoggler hidden-sm-down waves-effect waves-dark float-right" href="javascript:void(0)">
        <span class="navbar-toggler-icon"></span>
      </a>
    </li>
  </ul>
  <div class="scroll-sidebar">
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li class="clearfix"></li>
        <li class="<%= current_link_helper('campaigns') %>">
          <%= link_to root_path do %>
            <i class="fa fa-bullhorn"></i><span class="hide-menu">Campaigns</span>
          <% end %>
        </li>
        <li class="<%= current_link_helper('users') %>">
          <%= link_to root_path do %>
            <i class="fa fa-users"></i><span class="hide-menu">Users</span>
          <% end %>
        </li>
        <li class="<%= current_link_helper('templates') %>">
          <%= link_to root_path do %>
            <i class="fa fa-picture-o"></i><span class="hide-menu">Templates</span>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</aside>
