<% unless @attestations.empty? %>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead class=''>
        <tr>
          <th>Cliente</th>
          <th>Fins</th>
          <th>Data</th>
          <th>Hora</th>
          <th>Apto/Inapto</th>
          <th>Dias inapto</th>
        </tr>
      </thead>
      <tbody>
        <% @attestations.each do |attestation| %>
        <tr class='clickable-row' onclick="window.location='<%= dashboard_attestation_url(attestation) %>';">
          <td><%= attestation.customer_name %></td>
          <td><%= attestation.work_or_study %></td>
          <td><%= attestation.date.try(:strftime, '%d/%m/%Y') %></td>
          <td><%= attestation.hour %></td>
          <td><%= attestation.fit_unfit %></td>
          <td><%= attestation.unfit_days %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  </br>
  <% if params[:search] %>
    <div class="text-center">
      <h5>Não encontramos pacientes de acordo com a busca</h5>
    </div>
  <% else %>
    <div class="text-center">
      <h5>Você não tem atestados :/</h5>
    </div>
  <% end %>
<% end %>

<%= render 'shared/paginate', collection: @attestations %>
