<%# javascript_include_tag 'receipts', defer: true %>

<h2 class="dashboard-title">Recibos</h2>
<hr/>

<div class="row">
  <div class="col-sm-7">
    <%= form_for([:dashboard, @receipt]) do |f| %>
    <div class="form-inputs">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group required">
            <%= f.label :name, "Nome do dentista" %>
            <%= f.text_field :name, value: current_user.full_name, class: 'form-control', required: true %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group required">
            <%= f.label :cpf, "CPF do dentista" %>
            <%= f.text_field :cpf, value: current_user.cpf, class: 'form-control', required: true %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group required">
            <%= f.label :customer_name, "Nome do paciente" %>
            <%= f.text_field :customer_name, class: 'form-control', required: true %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group required">
            <%= f.label :customer_cpf, "CPF do paciente" %>
            <%= f.text_field :customer_cpf, class: 'form-control', required: true, onblur: "cpfVal(this.value)" %>
            <div id="cpfValidate"></div>
          </div>
        </div>
      </div>
      <div class="form-group required">
        <%= f.label :total, "Valor total do recibo" %>
        <%= f.text_field :total, class: 'form-control', required: true %>
      </div>
      <div class="form-group">
        <%= f.label :services, "Descrição dos serviços prestados" %>
        <%= f.text_area :services, rows: 3, class: "form-control" %>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group required">
            <%= f.label :location, "Localidade" %>
            <%= f.text_field :location, placeholder: 'São Paulo', class: 'form-control' %>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group required">
            <%= f.label :date, "Data" %>
            <%= f.text_field :date, value: @receipt.date.try(:strftime, '%d/%m/%Y'), class: 'form-control'  %>
          </div>
        </div>
      </div>
    </div>
    <div class="form-actions">
      <%= f.submit class: 'btn btn-submit' %>
    </div>
    <% end %>
  </div>
  <div class="col-sm-5">
    <h4>Pré-Visualização</h4>
    <div class="text text-center">
      <h5> RECIBO</h5>
    </div>
    Eu, <span id="name">{{}}</span>, inscrito(a) no CPF sob o nº <span id="cpf">{{}}</span>, recebi de <span id="customer_name">{{}}</span>, inscrito(a) no CPF sob o nº <span id="customer_cpf">{{}}</span>, a importância de <span id="total">{{}}</span>, referente ao pagamento dos serviços odontológicos prestados.<br/>
    Descrição dos serviços prestados: <span id="services"></span>
    <br/> <br/> <br/>
    <span id="location">{{}}</span>, <span id="date"></span>.
    <br/><br/><br/>

    ______________________________
    <br/>
    <span id="name"></span>
  </div>
</div>